
.header {
    height: 100vh;
    background-size: cover;
    background-position: center;
}

body {
	position: relative;
}

.bg-transparent {
	transition: all 1s ease;
}

#map {
	height: 100vh;
	width: 100%;
}

#tableScroll {
  height: 300px;
  overflow-y: auto;  
  margin-top: 20px;
}
